/* src/app/globals.css */
body {
  margin: 0;
  padding: 0;
  background-color: #1e272e; /* Azul escuro */
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}